<!DOCTYPE html>
<html lang="en">
  <head>
    {% include mysite/controls/header.html %}
    <link href="/css/default.css" rel="stylesheet" />
  </head>
  <body>
    <!-- masthead -->
    {% include mysite/controls/masthead.html %}
    <div class="container">
      <div class="content box clearfix">

        <div class="side">
          <h4>Side bar control</h4>
          <p>This cotent will be pulled from a control and will be consistent throughout the site.</p>
        </div>

        <div class="main">
          <div class="page-header">
            <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
          </div>
          {{ content }}
        </div>

      </div>
      <!-- footer -->
      {% include mysite/controls/footer.html %}
      <!-- scripts -->
      {% include mysite/controls/scripts.html %}
    </div> <!-- /container -->
    {% include JB/analytics %}
  </body>
</html>
