/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Tahir (Tyrone) Joseph
   ========================================================================== */

body {
    background-color:#fff;
    color: #444444;
    text-align:center;
    padding-top:45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
}
h1, h2 { margin-top:30px; }
h2 { margin-bottom:15px; }
p { margin-bottom:30px; }
ul {
    margin:0;
    padding:0;
    list-style: none;
}
a, a:visited {
    color:#078cd1;
    text-decoration:none;
}
a:hover { text-decoration:underline; }
th, td, a, li, input {
   line-height: 18px;
   vertical-align: middle;
}
header {
    background: transparent url(../img/mindshapes-logo.png) no-repeat 30px;
    height:65px;
}

/*
    classes
*/

/* This will only be applied to browsers that support border radius */
html.borderradius input.textbox {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
input.textbox {
    border: 1px solid #9fc3d4;
    height: 16px;
    padding: 4px;
    margin: 0;
    font-size:11px;
    font-weight: normal;
    line-height: 18px;
}
html.cssgradients {

}
/* for ie 7 (posibly 8) */
input.textbox { background: white url(../img/textbox-bg.jpg) repeat-x 0 0; }
/* This will only be applied to browsers that support css gradients */
html.cssgradients input.textbox {
  background:none;
  background-image: -ms-linear-gradient(top, #f2f2f2, #ffffff 24%);
  background-image: -webkit-gradient(linear, 0 0, 0 24%, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff 24%);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff 24%);
  background-image: linear-gradient(top, #f2f2f2, #ffffff 24%);
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff 24%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2f2f2, endColorstr=#ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f2f2f2, endColorstr=#ffffff)";
}
table.fileList { margin-bottom:130px; }

table a.emailLink {
    display:block;
    width:32px;
    height:26px;
    text-align:center;
    line-height:26px;
    background:#f0f0f0 url(../img/mailicon.png) no-repeat center; /* for ie7, this will be overriden if cssgradients are available */
    border:1px solid #cccccc;
    margin:auto;
}
/* This will only be applied to browsers that support border radius */
html.borderradius table a.emailLink {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
/* This will only be applied to browsers that support css gradients */
html.cssgradients table a.emailLink {
    background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f0f0f0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f0f0f0)";
}
html.cssgradients table a.emailLink img { margin:auto; }
/* ie7 fallback due to no rounded corners or gradient */
html.lt-ie8 {
  border:none;
  background:#f0f0f0 url(../img/mailIcon-ie7-8.jpg) no-repeat center;
}
td.icon {
    background-position: 1px 12px;
    background-repeat:no-repeat;
    background-color:transparent;
}
td.msword { background-image : url(../img/wordIcon.png); }
td.msexcel { background-image: url(../img/excelIcon.png); }
td.pdf { background-image    : url(../img/pdfIcon.png); }

/*
    sections
*/
/* This will only be applied to browsers that support border radius */
html.borderradius #container {
    -webkit-border-radius: 6px 6px 0 6px;
    -moz-border-radius: 6px 6px 0 6px;
    -o-border-radius: 6px 6px 0 6px;
    border-radius: 6px 6px 0 6px;
}
#container {
    border:1px solid #cccccc;
    margin:0 auto -6px;
    text-align:left;
    width:980px;
}
#innerContainer {
    background: transparent url(../img/top-bar.jpg) repeat-x 0 0; /* move to ie7 style sheet use :after for other browsers */
    border-top:1px solid #9fc3d4;
    padding:33px 0 0 0;
    position:relative;
    overflow: hidden;
    width: 100%;
}
html.cssgradients #innerContainer { background:none; }

/* This will only be applied to browsers that support css gradients and will override the style above */
/* :before creates and element, positions it and applies a style to it */
html.cssgradients #innerContainer:before {
    content: "";
    height:33px;
    display:block;
    margin-top:-33px;
    border-bottom: 1px solid #9FC3D4;
    background-image: -ms-linear-gradient(top, #f6fbfe, #eaf5fb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6fbfe), to(#eaf5fb));
    background-image: -webkit-linear-gradient(top, #f6fbfe, #eaf5fb);
    background-image: -o-linear-gradient(top, #f6fbfe, #eaf5fb);
    background-image: linear-gradient(top, #f6fbfe, #eaf5fb);
    background-image: -moz-linear-gradient(top, #f6fbfe, #eaf5fb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6fbfe, endColorstr=#eaf5fb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f6fbfe, endColorstr=#eaf5fb)";
}
#content {
    float:left;
    width:738px;
}
#content table { width:738px; }

#mainContent p {
    text-align:justify;
    width:80%;
}
#mainContent { padding:0 32px; }
#mainContent ul { margin-bottom:30px; }
#mainContent li {
    border-top:1px dashed #cccccc;
    height:50px;
    line-height:50px;
}
#mainContent li span.workspace {
    color: #999999;
    float:right;
}
html.borderradius #mainContent li img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
#mainContent li img {
    border:1px solid #999999;
    margin-right:10px;
    padding:2px;
}
#content thead {
    background: transparent url(../img/table-bar.jpg) repeat-x 0 0; /* move to ie7 style sheet use :after for other browsers */
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    height:15px;
}
/* This will only be applied to browsers that support css gradient */
html.cssgradients #content thead  {
    background-image: -ms-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: linear-gradient(top, #fdfdfd, #eaeaea);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#eaeaea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fdfdfd, endColorstr=#eaeaea)";
}
#mainContent ul, #content table { font-size:12px; }
#content tbody td {
    border-bottom:1px dashed #cccccc;
    height:50px;
    line-height:50px;
}
#content tbody td:first-child, #content tbody td:last-child  {
    width:40px;
    border:none;
}

/*
   aside
*/

aside {
    background-color:#ebf6fb;
    border-left:1px solid #9fc3d4;
    width:206px;
    height:100%;
    min-height:100%;
    padding:35px 18px;
    position: absolute;
    right: 0;
}
/* This will only be applied to browsers that support css gradient */
html.cssgradients aside {
    background-image: -ms-linear-gradient(top, #f7fcfe, #eaf5fb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7fcfe), to(#eaf5fb));
    background-image: -webkit-linear-gradient(top, #f7fcfe, #eaf5fb);
    background-image: -o-linear-gradient(top, #f7fcfe, #eaf5fb);
    background-image: linear-gradient(top, #f7fcfe, #eaf5fb);
    background-image: -moz-linear-gradient(top, #f7fcfe, #eaf5fb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7fcfe, endColorstr=#eaf5fb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f7fcfe, endColorstr=#eaf5fb)";
}
aside input.textbox { width:196px; }
aside #tabs {
    position:absolute;
    top:-34px;
    left:-1px;
}
aside #tabs li {
    float: left;
    border-left:1px solid #9fc3d4;
    width:80px;
    height:33px;
    line-height:36px;
    text-align:center;
}
aside #tabs li.active {
    background-color: #f7fcfe;
    height:34px;
}
aside #tabs li.focus a { color:#AEB3A0; }
aside #tabs li a, aside #tabs li.active a { color:#444444; }
aside #tabs li a {
    text-transform:uppercase;
    font-size:10px;
    padding:8px 24px;
}
aside input.textbox { font-weight:100; }

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
