<h4>Latest blog post</h4>
<ul>
    {% for post in site.posts limit:1 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<!--
    Homepage / side bar

    The homepage will have brief snappy information:
    Summarise the purpose of the site and who the author is
    Link to the all the most important pages
    About
    Profile / Portfolio
    Latest
    Blog post
    Delicious link
    Tweet
    Commit
    Youtube saved vid
    Vimeo saved vid
    Brief contact info / link to contact page
 -->